#canvas{
	display: none;
}
#canvas2{
	display: none;
}
canvas{
	width: 100%;
	height: auto;
}

#header {
	background-color: #333333 !important;
}

#what{
	margin-top: -25%;
	border-radius: 50%;
}
#who{
	margin-top: -25%;
	border-radius: 50%;
}
.container {
	height: 100%;
}

.main-buttons {
	margin-top: 75%; 
}
.btn-xl{
    padding: 5px 10px;
    font-size: 250%; /*change this to your desired size*/
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-fb {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	border-radius: 15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	margin-top: -20%;
}

.btn_deconexion {
	position: center !important;
}

.btn-fb:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
	text-decoration: none;
}
.btn-fb:active {
	position:relative;
	top:1px;
}

.img-login {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

.pass {
	color: white;
	font-weight: 500;
}

.pass:hover {
	text-decoration: none;
}

.container-fluid {
	padding-right: 0px !important; 
    padding-left: 0px !important;
}

.logo {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
	position: center !important;
}

.skip {
	position: relative;
	margin-top: 10%;
	font-size: 17px;
}
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

.navbar-grey {
	background-color: #333333;
}

.navbar {
	    border-radius: 0px !important;
}